* {
  margin: 0;
  padding: 0;
  font-family: inter;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 100px;
  justify-content: center;
  gap: 16px;
  background-color: #f4f4f4;
}

#generated p {
  font-family: Cascadia Code;
}

input {
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  width: 200px;
  border: none;
  border: 2px solid transparent;
}

input:focus {
  outline: none;
  border: 2px solid #7c00d4;
  width: 200px;
}

#gen-pass {
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #7c00d4;
  border: 2px solid transparent;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: 0.2s ease-in-out;
}
#gen-pass:hover {
  background-color: #7200c3;
}

#gen-rand-pass {
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;
  border: 2px solid #7c00d4;
  font-weight: bold;
  cursor: pointer;
  color: #7c00d4;
  transition: 0.2s ease-in-out;
}


#gen-rand-pass:hover {
  background-color: #7c00d4;
  color: white;
}

h3 {
  font-weight: 400;
  color: #727272;
}

#password {
  font-size: 32px;
  border: 2px dashed #7c00d4;
  width: fit-content;
  padding: 16px;
  background-color: #e9e9e9;
  border-radius: 8px;
  color: #7c00d4;
}

#empty {
  font-size: 32px;
  border: 2px dashed #ff4b4b;
  width: fit-content;
  padding: 16px;
  background-color: #e9e9e9;
  border-radius: 8px;
  color: #ff4b4b;
}

#reset {
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;
  border: 2px solid #7c00d4;
  font-weight: bold;
  cursor: pointer;
  color: #7c00d4;
  transition: 0.2s ease-in-out;
}

#reset:hover {
  background-color: #7c00d4;
  color: white;
}
